<ion-app>
  <ion-split-pane contentId="menu-content">
    <ion-menu contentId="menu-content">
      <ion-list>
          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages"
            (click)="openPage(p)"
          >
            <ion-item class="side-menu-item" [routerDirection]="'root'">
              <ion-icon
                slot="start"
                [name]="p.icon"
              ></ion-icon>
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
      </ion-list>
    </ion-menu>
    <ion-router-outlet id="menu-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
